## Basics of python

In [3]:
# printing some text

In [4]:
print("hello , world")

hello , world

In [5]:
print('hello ,world 123 @)#')

hello ,world 123 @)#

In [16]:
# python comments 
# comments used for references for debugging

In [9]:
# print a numbers
print("writing a single line comments starting with # ")

writing a single line comments starting with #

In [10]:
# declare a variable 
name = "venu"

# print name

print(name)  # venu

venu

In [12]:
''' multiline strings 
as 
comments '''
print('mutiline comments')

mutiline comments

In [14]:
# if we comment the line it won't excuite the code of that line
# print("venu")

In [17]:
#python variables and literals

In [ ]:
# -Start with a Letter or Underscore: Variable names must begin with a letter (a-z, A-Z) or an underscore (_). They cannot start with a digit.
# -Follow with Letters, Digits, or Underscores: After the first character, variable names can include letters, digits (0-9), and underscores.
# -Case Sensitivity: Variable names are case-sensitive. For example, myVar, MyVar, and MYVAR are considered different variables.
# -No Reserved Keywords: Variable names cannot be the same as Python's reserved keywords (e.g., class, for, if, while, etc.).
# -Descriptive Names: Use descriptive names that make it clear what the variable represents. For example, total_price is more descriptive than tp.
# -Use Snake Case for Variables: By convention, use lowercase letters with underscores separating words (e.g., user_age, total_amount).
# -Avoid Special Characters: Variable names cannot include special characters like @, $, or %.
# -No Spaces: Variable names cannot contain spaces. Use underscores to separate words instead.
# -Be Mindful of Length: While variable names can be long, they should be concise enough to be readable and understandable

In [19]:
number =10
name_as_required = "venu_gopal"
print(name_as_required)

venu_gopal

In [21]:
name_as_required = "venu_gopal"
print(name_as_required)
print("---------"*5)
name_as_required = "gopal"
print(name_as_required)

venu_gopal
---------------------------------------------
gopal

In [40]:
# some examples of key words 
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [22]:
# assiging multiple values to multipule variables

In [23]:
a,b,c, =5,3.1,"venu"
print(a) # 5
print(b) # 3.1
print(c) # venu

5
3.1
venu

In [24]:
# same value to mulitple variables 
s1, s2 = "testing"
print(s1)
print(s2)

testing
testing

In [41]:
# same value to mulitple variables 
s1, s2 = "testing1","testing2"
print(s1)
print(s2)

testing1
testing2

In [25]:
# literals

In [33]:
# strings 
a = "text or word we call it as string"
print(a)
print(type(a))
# Integer 
print("------")
b = 10
print(b)
print(type(b))
print("------")
# floating points 
c =2.1
print(c)
print(type(c))
print("------")

d = 6+9j
print(d)
print(type(d))

text or word we call it as string
<class 'str'>
------
10
<class 'int'>
------
2.1
<class 'float'>
------
(6+9j)
<class 'complex'>

In [38]:
#Case -Sensitive 
a=4
A="test'"
print(a,A)

4 test'

In [42]:
# Unpack a collection
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [44]:
# global variable 
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [47]:
### Data Types 

# url : https://www.w3schools.com/python/python_datatypes.asp

In [ ]:
# Text Type:	str
# Numeric Types:	int, float, complex
# Sequence Types:	list, tuple, range
# Mapping Type:	dict
# Set Types:	set, frozenset
# Boolean Type:	bool
# Binary Types:	bytes, bytearray, memoryview
# None Type:	NoneType

In [49]:
x = 1
y = -87.7e100
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'int'>

In [62]:
# creating random numbers between tow 
import random

random.randrange(1,9)

2

In [77]:
# generating a sample random numbers  
random.sample(range(1, 101), 10)

[38, 53, 4, 55, 79, 74, 65, 62, 99, 64]

In [63]:
# casting 
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(type(x),type(y),type(z))

<class 'str'> <class 'int'> <class 'float'>

In [3]:
def diff():
    print("--------"*5)

In [91]:
# string 
a = "Hello, World!"
print(len(a))
diff()
for i in a:
    print(i)
diff()
print("hello" in a)
diff()
print(a[2:5])
diff()
print(a[:5])
diff()
print(a[5:])
diff()
print(a[-5:-2])
diff()
print(a.upper())  # making upper case
diff()
print(a.lower())  # making lower case 
diff()
print(a.strip())  # removing white spaces
diff()
print(a.replace("H","j")) # replacing the H with j
diff()
print(a.split(',')) # spliting at ','
diff()


a = "hello"
b = "world"
print(a+b) # adding two strings 
print(a+"___"+b)
c =34.12222
print(f'my age is {c:.2f}') # untill to decimals

13
----------------------------------------
H
e
l
l
o
,

W
o
r
l
d
!
----------------------------------------
False
----------------------------------------
llo
----------------------------------------
Hello
----------------------------------------
, World!
----------------------------------------
orl
----------------------------------------
HELLO, WORLD!
----------------------------------------
hello, world!
----------------------------------------
Hello, World!
----------------------------------------
jello, World!
----------------------------------------
['Hello', ' World!']
----------------------------------------
helloworld
hello___world
my age is 34.12

In [31]:
# Boolean (True , False)

In [95]:
is_pass = True
print(type(is_pass))
print(10 > 9)
print(10 == 9)
print(10 < 9)

<class 'bool'>
True
False
False

In [93]:
# methods in python not required for biggners 

# Example strings
s1 = "  Hello World  "
s2 = "python programming"
s3 = "HELLO WORLD"
s4 = "hello world example"
s5 = "12345"
s6 = "hello"
s7 = "hello123"
s8 = "   "
s9 = "line 1\nline 2\nline 3"

# 1. str.upper()
print(s2.upper())  # Output: PYTHON PROGRAMMING

# 2. str.lower()
print(s3.lower())  # Output: hello world

# 3. str.title()
print(s2.title())  # Output: Python Programming

# 4. str.capitalize()
print(s2.capitalize())  # Output: Python programming

# 5. str.strip()
print(s1.strip())  # Output: Hello World

# 6. str.lstrip()
print(s1.lstrip())  # Output: Hello World  

# 7. str.rstrip()
print(s1.rstrip())  # Output:   Hello World

# 8. str.find()
print(s4.find("world"))  # Output: 6
print(s4.find("python"))  # Output: -1

# 9. str.rfind()
print(s4.rfind("world"))  # Output: 12
print(s4.rfind("python"))  # Output: -1

# 10. str.index()
print(s4.index("world"))  # Output: 6
# print(s4.index("python"))  # Raises ValueError: substring not found
# 11. str.rindex()
print(s4.rindex("world"))  # Output: 12
# print(s4.rindex("python"))  # Raises ValueError: substring not found
# 12. str.replace()
print(s4.replace("world", "Python"))  # Output: hello Python example
# 13. str.split()
print(s2.split())  # Output: ['python', 'programming']
# 14. str.rsplit()
print(s4.rsplit())  # Output: ['hello', 'world', 'example']
# 15. str.splitlines()
print(s9.splitlines())  # Output: ['line 1', 'line 2', 'line 3']
# 16. str.zfill()
print(s5.zfill(7))  # Output: 00012345
# 17. str.isdigit()
print(s5.isdigit())  # Output: True
# 18. str.isalpha()
print(s6.isalpha())  # Output: True
# 19. str.isalnum()
print(s7.isalnum())  # Output: True
# 20. str.islower()
print(s6.islower())  # Output: True
# 21. str.isupper()
print(s3.isupper())  # Output: True
# 22. str.isspace()
print(s8.isspace())  # Output: True
# 23. str.startswith()
print(s2.startswith("python"))  # Output: True
# 24. str.endswith()
print(s2.endswith("programming"))  # Output: True

PYTHON PROGRAMMING
hello world
Python Programming
Python programming
Hello World
Hello World
  Hello World
6
-1
6
-1
6
6
hello Python example
['python', 'programming']
['hello', 'world', 'example']
['line 1', 'line 2', 'line 3']
0012345
True
True
True
True
True
True
True
True

In [96]:
# Operators

In [97]:
# Arithmetic operators
# Assignment operators
# Comparison operators
# Logical operators
# Identity operators
# Membership operators
# Bitwise operators

In [99]:
# Arthmetic Operators 

# Define two numbers
a = 15
b = 4

# Addition
addition = a + b
print("Addition:", addition)  # Output: Addition: 19

# Subtraction
subtraction = a - b
print("Subtraction:", subtraction)  # Output: Subtraction: 11

# Multiplication
multiplication = a * b
print("Multiplication:", multiplication)  # Output: Multiplication: 60

# Division
division = a / b
print("Division:", division)  # Output: Division: 3.75

# Floor Division
floor_division = a // b
print("Floor Division:", floor_division)  # Output: Floor Division: 3

# Modulus
modulus = a % b
print("Modulus:", modulus)  # Output: Modulus: 3

# Exponentiation
exponentiation = a ** b
print("Exponentiation:", exponentiation)  # Output: Exponentiation: 50625

Addition: 19
Subtraction: 11
Multiplication: 60
Division: 3.75
Floor Division: 3
Modulus: 3
Exponentiation: 50625

In [105]:
# Assignment operators
# Define an initial value
x = 10

# Basic Assignment
x = 10
print("Basic Assignment:", x)  # Output: Basic Assignment: 10

# Addition Assignment
x += 5  # Equivalent to x = x + 5
print("Addition Assignment:", x)  # Output: Addition Assignment: 15

# Subtraction Assignment
x -= 3  # Equivalent to x = x - 3
print("Subtraction Assignment:", x)  # Output: Subtraction Assignment: 12

# Multiplication Assignment
x *= 4  # Equivalent to x = x * 4
print("Multiplication Assignment:", x)  # Output: Multiplication Assignment: 48

# Division Assignment
x /= 6  # Equivalent to x = x / 6
print("Division Assignment:", x)  # Output: Division Assignment: 8.0

# Floor Division Assignment
x //= 2  # Equivalent to x = x // 2
print("Floor Division Assignment:", x)  # Output: Floor Division Assignment: 4.0

# Modulus Assignment
x %= 3  # Equivalent to x = x % 3
print("Modulus Assignment:", x)  # Output: Modulus Assignment: 1.0

# Exponentiation Assignment
x **= 2  # Equivalent to x = x ** 2
print("Exponentiation Assignment:", x)  # Output: Exponentiation Assignment: 1.0

Basic Assignment: 10
Addition Assignment: 15
Subtraction Assignment: 12
Multiplication Assignment: 48
Division Assignment: 8.0
Floor Division Assignment: 4.0
Modulus Assignment: 1.0
Exponentiation Assignment: 1.0

In [106]:
#Comparison Operators 
# Define values
a = 20
b = 10
c = 20
d = 30

# Equal to
print("Equal to:", a == b)  # Output: Equal to: False
print("Equal to:", a == c)  # Output: Equal to: True

# Not equal to
print("Not equal to:", a != b)  # Output: Not equal to: True
print("Not equal to:", a != c)  # Output: Not equal to: False

# Greater than
print("Greater than:", a > b)  # Output: Greater than: True
print("Greater than:", a > d)  # Output: Greater than: False

# Less than
print("Less than:", a < d)  # Output: Less than: True
print("Less than:", a < b)  # Output: Less than: False

# Greater than or equal to
print("Greater than or equal to:", a >= b)  # Output: Greater than or equal to: True
print("Greater than or equal to:", a >= d)  # Output: Greater than or equal to: False

# Less than or equal to
print("Less than or equal to:", a <= c)  # Output: Less than or equal to: True
print("Less than or equal to:", a <= b)  # Output: Less than or equal to: False

Equal to: False
Equal to: True
Not equal to: True
Not equal to: False
Greater than: True
Greater than: False
Less than: True
Less than: False
Greater than or equal to: True
Greater than or equal to: False
Less than or equal to: True
Less than or equal to: False

In [107]:
#Logical Operators
# Define variables
x = True
y = False

# Logical AND
print("Logical AND (x and y):", x and y)  # Output: False

# Logical OR
print("Logical OR (x or y):", x or y)  # Output: True

# Logical NOT
print("Logical NOT (not x):", not x)  # Output: False

Logical AND (x and y): False
Logical OR (x or y): True
Logical NOT (not x): False

In [108]:
# Identity Operators
# Define variables
x = [1, 2, 3]
y = [1, 2, 3]
z = x

# Identity is
print("Identity is (x is z):", x is z)  # Output: True

# Identity is not
print("Identity is not (x is not y):", x is not y)  # Output: True

Identity is (x is z): True
Identity is not (x is not y): True

In [109]:
#membership operators

# Define a list and a string
lst = [1, 2, 3, 4, 5]
s = "hello"

# Membership in list
print("Membership in list (3 in lst):", 3 in lst)  # Output: True
print("Membership in list (6 in lst):", 6 in lst)  # Output: False

# Membership in string
print("Membership in string ('e' in s):", 'e' in s)  # Output: True
print("Membership in string ('x' in s):", 'x' in s)  # Output: False

Membership in list (3 in lst): True
Membership in list (6 in lst): False
Membership in string ('e' in s): True
Membership in string ('x' in s): False

In [110]:
# Bitwise operator
# Define variables
a = 60  # 0011 1100 in binary
b = 13  # 0000 1101 in binary

# Bitwise AND
print("Bitwise AND (a & b):", a & b)  # Output: 12 (0000 1100 in binary)

# Bitwise OR
print("Bitwise OR (a | b):", a | b)  # Output: 61 (0011 1101 in binary)

# Bitwise XOR
print("Bitwise XOR (a ^ b):", a ^ b)  # Output: 49 (0011 0001 in binary)

# Bitwise NOT
print("Bitwise NOT (~a):", ~a)  # Output: -61 (inverted bits of a)

# Bitwise Left Shift
print("Bitwise Left Shift (a << 2):", a << 2)  # Output: 240 (1111 0000 in binary)

# Bitwise Right Shift
print("Bitwise Right Shift (a >> 2):", a >> 2)  # Output: 15 (0000 1111 in binary)

Bitwise AND (a & b): 12
Bitwise OR (a | b): 61
Bitwise XOR (a ^ b): 49
Bitwise NOT (~a): -61
Bitwise Left Shift (a << 2): 240
Bitwise Right Shift (a >> 2): 15

In [112]:
# all the operators follow the BODMAS (BIDMAS / PEMDAS) - Maths

In [113]:
#### Data Types

In [114]:
# list
# Tuple
# set 
# dictionary

In [127]:
# list
#
# index start with [0]
# changeable the order of the list 
# it allow duplicates 
# in list we use int , boolean, string 


list_names = ["venu", "gopal", "henrry"]

# length of the list
print(len(list_names))
diff()
# to check the data type 
print(type(list_names))

diff()

list_names == list(('venu',"gopal","hennery"))
print(list_names)

diff()

print(list_names[0])

diff()

print(list_names[-1])

diff()

print(list_names[2:3])

diff()

# checking the name is available 
result = "venu" if "venu" in list_names else "gopal"

print(result)

diff()

# inserting new things 

list_names[0] ="new_name"

print(list_names)

diff()

# insert new string in list using insert 
list_names.insert(1, "inserting new name")

print(list_names)

diff()

# adding new string to the list 

list_names.append("adding new element")

diff()

# removing elements 
list_names.remove('inserting new name')

print(list_names)

diff()

# sorting the list 
print(list_names.sort())

diff()
# check what happen in reverse ==True
print(list_names.sort(reverse=True))

diff()

# reverse the order 
print(list_names.reverse())


diff()
diff()
# \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
# Not basics 

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]

thislist.extend(tropical)

print(thislist)

diff()

thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

diff()

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

diff()

# looping 

[print(i) for i in list_names]
diff()

# looping with index 
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])


diff()
# using while loop
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1


diff()
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]

thislist.sort(key = myfunc)

print(thislist)

3
----------------------------------------
<class 'list'>
----------------------------------------
['venu', 'gopal', 'henrry']
----------------------------------------
venu
----------------------------------------
henrry
----------------------------------------
['henrry']
----------------------------------------
venu
----------------------------------------
['new_name', 'gopal', 'henrry']
----------------------------------------
['new_name', 'inserting new name', 'gopal', 'henrry']
----------------------------------------
----------------------------------------
['new_name', 'gopal', 'henrry', 'adding new element']
----------------------------------------
----------------------------------------
['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
----------------------------------------
['apple', 'cherry']
----------------------------------------
[]
----------------------------------------
new_name
gopal
henrry
adding new element
----------------------------------------
apple
banana
cherry
apple
banana
cherry

In [132]:
# Tuple
# order we can't change 
# index start with 0 not with 1
# tuple allow the duplicates 

name_tupel  = ("vneu", "gopal", "name")
print(name_tupel)

diff()

print("length", len(name_tupel))

diff()

print("checking the data type", type(name_tupel))
diff()

tuple1 = ("abc", 34, True, 40, "male")
print("it allow the int ,text, bolen",tuple1 )

diff()

print('accessing the first element in tuple ', name_tupel[0])
diff()

name_tupel[0] = "changed the first letter"
print('updating the tuple ', name_tupel)


# In tuple we have only two methods 
# count()
# index()

diff()

('vneu', 'gopal', 'name')
----------------------------------------
length 3
----------------------------------------
checking the data type <class 'tuple'>
----------------------------------------
it allow the int ,text, bolen ('abc', 34, True, 40, 'male')
----------------------------------------
accessing the first element in tuple  vneu
----------------------------------------
updating the tuple

In [6]:
# Set 

# store multiple items in a single variable.
# unordered, unchangeable, and do not allow duplicate values.


name_set = {"apple", "banana", "cherry"}
print("print the set ",name_set)

diff()

thisset = {"apple", "banana", "cherry", False, True, 0}

print("allow the different elements in the set",thisset)

diff()
print("checking the lenght of the set", len(thisset))


diff()
thisset.add("orange")

print("adding new item to the set",thisset)
diff()

tropical = {}
thisset.update(tropical)

print("combine the two sets", thisset)

diff()

thisset.remove("banana")

# not reqiored for begginers 
#####
print("removing the element from the set ",thisset)
# disacrd also do the same but not raise error if the element not aviable , remove will raise 
diff()

# Union
s1 = {1, 2, 3}
s2 = {3, 4, 5}
union_set = s1 | s2  # {1, 2, 3, 4, 5}
print("Union:", union_set)

union_set = s1.union(s2)  # {1, 2, 3, 4, 5}
print("Union using union():", union_set)

# Intersection
intersection_set = s1 & s2  # {3}
print("Intersection:", intersection_set)

intersection_set = s1.intersection(s2)  # {3}
print("Intersection using intersection():", intersection_set)

# Difference
difference_set = s1 - s2  # {1, 2}
print("Difference:", difference_set)

difference_set = s1.difference(s2)  # {1, 2}
print("Difference using difference():", difference_set)

# Symmetric Difference
symmetric_diff_set = s1 ^ s2  # {1, 2, 4, 5}
print("Symmetric Difference:", symmetric_diff_set)

symmetric_diff_set = s1.symmetric_difference(s2)  # {1, 2, 4, 5}
print("Symmetric Difference using symmetric_difference():", symmetric_diff_set)

# Subset
s3 = {1, 2}
s4 = {1, 2, 3}
is_subset = s3 <= s4  # True
print("Is Subset:", is_subset)

is_subset = s3.issubset(s4)  # True
print("Is Subset using issubset():", is_subset)

# Superset
is_superset = s4 >= s3  # True
print("Is Superset:", is_superset)

is_superset = s4.issuperset(s3)  # True
print("Is Superset using issuperset():", is_superset)

# Disjoint
s5 = {1, 2, 3}
s6 = {4, 5, 6}
are_disjoint = s5.isdisjoint(s6)  # True
print("Are Disjoint:", are_disjoint)

# Add
s7 = {1, 2, 3}
s7.add(4)  # {1, 2, 3, 4}
print("After")

print the set  {'cherry', 'banana', 'apple'}
----------------------------------------
allow the different elements in the set {False, True, 'cherry', 'banana', 'apple'}
----------------------------------------
checking the lenght of the set 5
----------------------------------------
adding new item to the set {False, True, 'cherry', 'banana', 'orange', 'apple'}
----------------------------------------
combine the two sets {False, True, 'cherry', 'banana', 'orange', 'apple'}
----------------------------------------
removing the element from the set  {False, True, 'cherry', 'orange', 'apple'}
----------------------------------------
Union: {1, 2, 3, 4, 5}
Union using union(): {1, 2, 3, 4, 5}
Intersection: {3}
Intersection using intersection(): {3}
Difference: {1, 2}
Difference using difference(): {1, 2}
Symmetric Difference: {1, 2, 4, 5}
Symmetric Difference using symmetric_difference(): {1, 2, 4, 5}
Is Subset: True
Is Subset using issubset(): True
Is Superset: True
Is Superset using issuperset(): True
Are Disjoint: True
After

In [9]:
# dict 

# it allow the duplicates 

# key value pair 

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print("example of the dict ", thisdict)
diff()

print("print elements of the dict ",thisdict["brand"])
diff()

print("length of the dict", len(thisdict))
diff()

thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(thisdict)

diff()

x = thisdict.get("model")
print("x",x)
diff()
x = thisdict.values()
print("x",x)

diff()

#######
#######


# Creating a dictionary
d = {'a': 1, 'b': 2, 'c': 3}

# 1. get(key, default=None)
value = d.get('a')  # Returns 1
print("get('a'):", value)
value = d.get('z', 'Not Found')  # Returns 'Not Found'
print("get('z', 'Not Found'):", value)

# 2. keys()
keys = d.keys()  # Returns dict_keys(['a', 'b', 'c'])
print("keys():", keys)

# 3. values()
values = d.values()  # Returns dict_values([1, 2, 3])
print("values():", values)

# 4. items()
items = d.items()  # Returns dict_items([('a', 1), ('b', 2), ('c', 3)])
print("items():", items)

# 5. update(other_dict)
d.update({'d': 4, 'e': 5})  # Adds new items and updates existing ones
print("After update({'d': 4, 'e': 5}):", d)

# 6. pop(key, default=None)
popped_value = d.pop('b')  # Removes 'b' and returns its value (2)
print("pop('b'):", popped_value)
print("After pop('b'):", d)

# 7. popitem()
key, value = d.popitem()  # Removes and returns the last inserted item ('e', 5)
print("popitem():", (key, value))
print("After popitem():", d)

# 8. setdefault(key, default=None)
value = d.setdefault('f', 6)  # Adds 'f': 6 if 'f' is not in dictionary
print("setdefault('f', 6):", value)
print("After setdefault('f', 6):", d)

# 9. clear()
d.clear()  # Clears all items from the dictionary
print("After clear():", d)

# 10. copy()
d = {'a': 1, 'b': 2, 'c': 3}
d_copy = d.copy()  # Creates a shallow copy of the dictionary
print("copy():", d_copy)

example of the dict  {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
----------------------------------------
print elements of the dict  Ford
----------------------------------------
length of the dict 3
----------------------------------------
{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}
----------------------------------------
x None
----------------------------------------
x dict_values(['Ford', False, 1964, ['red', 'white', 'blue']])
----------------------------------------
get('a'): 1
get('z', 'Not Found'): Not Found
keys(): dict_keys(['a', 'b', 'c'])
values(): dict_values([1, 2, 3])
items(): dict_items([('a', 1), ('b', 2), ('c', 3)])
After update({'d': 4, 'e': 5}): {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
pop('b'): 2
After pop('b'): {'a': 1, 'c': 3, 'd': 4, 'e': 5}
popitem(): ('e', 5)
After popitem(): {'a': 1, 'c': 3, 'd': 4}
setdefault('f', 6): 6
After setdefault('f', 6): {'a': 1, 'c': 3, 'd': 4, 'f': 6}
After clear(): {}
copy(): {'a': 1, 'b': 2, 'c': 3}

In [13]:
### conditation 
# -----if ---- elif ----- else 
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

diff()
########
if a > b: print("a is greater than b")
diff()
print("A") if a > b else print("B")

diff()


# and 
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")


diff()


# or 
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

diff()

# not 
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is greater than b
----------------------------------------
a is greater than b
----------------------------------------
A
----------------------------------------
Both conditions are True
----------------------------------------
At least one of the conditions is True
----------------------------------------
a is NOT greater than b

In [128]:
### loops

In [129]:
#  using for and if condition in two ways 
# normal method and list comprehension 

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

diff()
res =[]
for i in fruits:
    if "a" in i:
        res.append(i)

print(res)

['apple', 'banana', 'mango']
----------------------------------------
['apple', 'banana', 'mango']

In [130]:
# genrating the random numbers 
newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [15]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [16]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [17]:
# functions

In [18]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [20]:
def example_function(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

example_function(name="Alice", age=30, city="New York")
# Output:
# name: Alice
# age: 30
# city: New York

name: Alice
age: 30
city: New York

In [19]:
def example_function(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

example_function(name="Alice", age=30, city="New York")
# Output:
# name: Alice
# age: 30
# city: New York

name: Alice
age: 30
city: New York

In [21]:
# lambda

In [22]:
x = lambda a : a + 10
print(x(5))

15

In [23]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [24]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [25]:
# arrays

#An array is a special variable, which can hold more than one value at a time.

In [27]:
# class

In [26]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36